ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    display: inline;
}

li a{
    color: black;
}

.right{
    float: right;
}

.navbar-top{
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-bot{
    position: fixed;
    bottom: 0;
    width: 100%;
}