body, html{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
    margin-top: 16px;
    padding: 0;
}

li{
    display: inline;
    text-align: center;
    margin-left: 16px;
}

li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-family: arial, sans-serif;
}

.right{
    float: right;
    margin-left: 0;
    margin-right: 16px;
}

.navbar-top{
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-bot{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar-bot li a{
    color: gray;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13%;
  }

#form-container {
    text-align: center;
}

.sign-in{
background-color: rgb(43, 125, 233);
background-size: auto;
font-size: 14px;
font-weight: 500;
color: white;
border-radius: 4px;
padding: 10px 25px;
}

.apps-logo{
    height: 20px;
    width: 20px;
}

input[type=text]{
    box-sizing: border-box;
    min-width: 600px;
    border: 2px solid rgba(211, 209, 206, 0.30);
    border-radius: 24px;
    background-image: url(search-icon.png);
    background-position: 10px center;
    background-size: 15px;
    background-repeat: no-repeat;
    background-color: white;
    padding: 12px 20px 12px 40px;
}

form{
    padding: 20px
}